*.o
.deps
Makefile
Makefile.in
aclocal.m4
autom4te*
colorpic.c
compile
config.h
config.h.in
config.h.in~
config.log
config.status
configure
depcomp
giftoc
include
install-sh
missing
monopic.c
stamp-h*
xwrits
