*.o
.deps
Makefile
Makefile.in
aclocal.m4
autom4te*
colorpic.c
config.h
config.h.in
config.log
config.status
configure
depcomp
fmalloc.c
giffunc.c
gifread.c
giftoc
giftoc.c
gifx.c
include
install-sh
missing
monopic.c
stamp-h*
strerror.c
xwrits
